<h1>User詳細</h1>
<div class="index_box">
<div class="user-image">
    <img src='<%= "/#{@user.image_name}" %>'>
</div>
<p>
    <div class="user_name">user_name:<span><%= @user.name %></span></div>
</p>
<p>
    <div class="user_email">email:<span><%= @user_e_ail %></span></div>
</p>

<p>
    <% if @current_user.id == @user.id %>
        <%= link_to("編集", "/users/#{@user.id}/edit") %>
            <% end %>
</p>

<p>
    <div class="archive">過去の投稿</div>
    <% @posts.each do |post| %>
        <div class="post">
            <p>
                <div class="user_image_each">
    <img src='<%= "/#{@user.image_name}" %>'>
</div>
            <div class="show_content">
                <%=link_to(post.content, "/posts/#{post.id}") %>
            </div>
            </p>
        </div>
        <% end %>
</p>
</div>