<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>TweetApp</title>
    <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

            <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
                <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
    <header>
        <div class="header_logo">
            <%= link_to("TweetApp", "/") %>
        </div>


        <% if @current_user%>
            <ul calss="header_list">
                <div class="user_image_for_bar">
                    <li>
                        <a href=" <% '/users/#{@current_user.id}/show'%>"><img src='<%= "/#{@current_user.image_name}" %>'></a>
                    </li>
                </div>
                <li class="menu_icon">
                    <%= link_to("/users/index") do %>
                        <span class="fa fa-home fa-3x"></span>
                        <% end %>
                </li>

                <li class="menu_icon">
                    <%= link_to("/posts/new") do %>
                        <span class="fa fa-pencil-square-o fa-3x"></span>
                        <% end %>

                </li>

                <li class="menu_icon">
                    <%= link_to("/logout", {method: "post"}) do %>
                        <span class="fa fa-sign-out fa-3x"></span>
                        <% end %>

                </li>
            </ul>

            <% else %>
                <ul>
                    <li class="about">
                        <a href="/top/about"><span>TweetApp</span>とは</a>
                    </li>

                    <li class="menu_icon">
                        <%= link_to("/login", {method: "post"}) do %>
                            <span class="fa fa-sign-in fa-3x"></span>
                            <% end %>

                    </li>

                    <li class="menu_icon">
                        <%= link_to("/signup") do %>
                            <span class="fa fa-user-plus fa-3x"></span>
                            <% end %>

                    </li>

                </ul>

                <% end %>


                    <% if flash[:noitce] %>
                        <%= flash[:notice] %>
                            <% end %>
    </header>
    <% if flash[:noitce] %>
        <%= flash[:notice] %>
            <% end %>
                <div class="main">
                    <%= yield %>
                </div>
</body>

</html>